/*
=================================================================
-----------------------RESET---------------------------
=================================================================
*/
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video,div{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p{
    font: 300 14px/28px roboto slab;
}
/*
=================================================================
-----------------------COMMON STYLE---------------------------
=================================================================
*/

.wrapper {
    width: 100%;
    height: auto;
}

.clear {
    clear: both;
}

.container{
    width: 1170px;
    height: auto;
    margin: 0 auto;
/*    background: red*/
    
}
a{
    text-decoration: none;
    color: #000;
}
h1{
    font: 600 30px/30px roboto slab;
    text-transform: capitalize;
    padding-bottom: 30px;
    color: #1f2326;
}
/*
=================================================================
-----------------------HEADER STYLE---------------------------
=================================================================
*/
.header{
    padding: 20px 0px;
    width: 100%;
}
.header-left{
    float: left;
    display: inline-block;
}
.header-right{
    float: right;
    display: inline-block;
}
.menu{
    display: inline-block;
}
.menu ul li{
    float: left;
    margin-left: 40px;
}
.menu ul li:first-child{
    margin-left: 0;
}
.menu ul li a{
    text-transform: uppercase;
    color: #aaabad;
    font: normal 14px/28px roboto slab;
}
.menu ul li::after{
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    background: #eea944;
    display: none;
}

.menu ul li:hover::after{
    display: block;
}
.ti-menu-alt {
    font-size: 24px;
    color: #000;
    margin: 4px 10px;
    float: right;
    display: none;
   
}
/*
=================================================================
-----------------------BANNER STYLE---------------------------
=================================================================
*/
.banner{
    width: 100%;
    background: url(images/1440_500.jpg) no-repeat 0 0;
    background-size: cover;
}
.banner-content{
    padding: 200px 0px;
}
h5,h6{
    text-align: center;
    font: 200 40px/50px roboto slab;
    color: #fff;
}
h6{
    font-weight: 600;
    text-transform: capitalize;
}

.mask_box{
 background:rgba(0, 0, 0, 0.5);
 width:100%;
}
/*
=================================================================
-----------------------ABOUT  US STYLE---------------------------
=================================================================
*/
.about{
    width: 100%;
    background: #f2f3f5;
}

.about-left{
    float: left;
    width: 50%;
    background: url(../images/about.png) no-repeat center center;
    background-size: cover;
    padding: 220px 0px;
}

.about-left img{
    width: 100%;
}
.about-right .container{
    width:100%;
}
.about-right{
    float: right;
    width: 50%;
}
.about-right-content{
    padding: 80px;
}

.about-right-content p{
    font: 300 14px/28px roboto slab;
    margin-bottom: 60px;
    width: 80%;
}
.about-right-content a{
    padding: 15px 20px;
    font: 600 12px/12px roboto slab;
    text-transform: uppercase;
    border: 2px solid #1f2326;
    letter-spacing: 1px;
     color: #1f2326;
}
.about-right-content a:hover{
    background: rgba(255, 157, 0, 0.5);
}
.color-bar{
    display: block;
    background: url(images/colorbar.png) no-repeat right bottom;
    background-size: cover;
    padding-top: 20px;
    width: 70%;
    float: right;
    margin-top:-20px
}
/*
=================================================================
-----------------------SERVICES STYLE---------------------------
=================================================================
*/
.services{
    padding: 60px 0;
}
.sbox{
    width: 30%;
    float: left;
}
.sbox2,.sbox3{
    margin-left: 5%;
}
.services h1{
    margin-bottom: 30px
}

h2{
    font: 400 20px/20px roboto slab;
    text-transform: capitalize;
    padding: 30px 0;
    color: #1f2326;
}
.sbox p{
    font: 300 14px/24px roboto slab;
}
/*
=================================================================
-----------------------FUN FACT STYLE---------------------------
=================================================================
*/
.fun{
    background: #e6e6e7;
    padding: 60px 0px;
}
.fun-left,.fun-right{
    width: 50%;
    float: left;
    padding: 0px 60px;
    box-sizing: border-box;
}
.fun-left{
    padding: 0px 0px;
}
.fun-left-box{
    width: 33%;
    float: left;
    box-sizing: border-box;
    text-align: center;

}
.fun-left-box h2{
    padding: 0;
}
.fun-left-box h3{
    margin-top: 20px;
    font: 600 40px/60px roboto slab;
}
.fun-right{
    float: right;
}

.fun-right p{
    font: 300 14px/28px roboto slab;
}
/*
=================================================================
-----------------------CLIENT STYLE---------------------------
=================================================================
*/
.client{
    padding: 60px 0px;
}
.client i{
    color: #e7af3e;
}
.client-box{
    width: 48%; 
    float: left;
}
.client-2{
    margin-left: 4%;
    float: right;
}
.client-box h2{
    padding: 0;
}
.client_p{
    margin-bottom: 20px;
}
/*
.client-box img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: inline-block;
    float: left;
    margin-right: 30px;
}*/
.c_img{
    background: url(../images/Client_1.jpg) no-repeat center center;
    background-size: cover;
     padding: 30px;
    float: left;
    border-radius: 50%;
    margin-right: 20px;
}
.c2{
    background: url(../images/Client_2.jpeg) no-repeat center center;
     background-size: cover;
}
.star i:first-child{
   color: #000;
}
/*
=================================================================
-----------------------CLIENT STYLE---------------------------
=================================================================
*/
.gallery{
    width: 100%;
}

.g1{
    background: url(images/g1.jpg) no-repeat center center; 
}
.g2{
    background: url(images/g2.jpg) no-repeat center center; 
}
.g3{
    background: url(images/g3.JPG) no-repeat center center; 
}
.g4{
    background: url(images/g4.jpg) no-repeat center center; 
}
.g5{
    background: url(images/g5.jpg) no-repeat center center; 
}
.g6{
    background: url(images/g6.jpg) no-repeat center center;
}
.g-image{
    width: 33.3333%;
    padding: 150px;
    box-sizing: border-box;
    float: left;
    position: relative;
    background-size: cover;
}
.g-image:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: none;
  z-index:0;
}

.g-image:hover:before{
  display: block;
  background: rgba(255, 157, 0, 0.5);
}
/*
=================================================================
-----------------------FOOTER STYLE---------------------------
=================================================================
*/
.footer{
    padding: 50px 0;
}
.footer-logo{
    width: 20%;
    float:left;
    margin-top: 130px;
}
.footer-navigation{
    width: 20%;
    float:left;
}
.footer-blogpost{
    width: 20%;
    float:left;
}
.footer-blogpost p{
    margin-top: -10px;
}
.footer-newsletter{
    width: 30%;
    float:right;
}
.footer-navigation ul li{
    margin-bottom: 20px;
    display: block;
}
.footer-navigation ul li a{
    font: 300 16px/16px roboto slab;
    text-transform: capitalize;
}
.footer-navigation ul li::after{
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    background: #eea944;
    display: none;
    margin-top: 5px;
}

.footer-navigation ul li:hover::after{
    display: block;
}

.newsletter-input {
    width: 100%;
    position: relative;
    padding: 14px;
    border: 1px solid #d6d6d6;
}

.newsletter-input button {
    position: absolute;
    font: normal 20px/20px roboto slab;
    padding: 16px;
    right: 0;
    top: 0;
    border: 2px solid #000;
    cursor: pointer;
    background: #fff;
}
.newsletter-input button:hover{
    background: #e7b640;
}

.newsletter-input input {
    font: 300 20px/20px roboto slab;
    outline: none;
    border: 0;
    padding: 0px 10px;
}

.ti-email {
     font: normal 20px/20px roboto slab;
     padding-right:15px;
     color: #e7b640;
}
.footer-newsletter input:focus::-webkit-input-placeholder {
    color: transparent;
}
.footer-social{
    margin-top: 30px;
}

.ti-facebook,
.ti-twitter-alt,
.ti-dribbble {
    font-size: 24px;
    margin-right: 25px;
}

.footer-social p{
    display: inline-block;
    font: 200 16px/16px roboto slab;
}