@media (max-width: 1169px) {
    .container {
        width: auto;
        padding: 0 10px;
    }



    @media (min-width:319px) and (max-width:767px) {
        .banner {
            background-position: 70% center;
        }
        .banner-content {
            text-align: left;
            width: 96%;

        }
        html {
            padding: 0;
            margin: 0;
        }
        h1 {
            font-size: 24px;
        }
        h2 {
            font-size: 18px;
        }
        h6 {
            font-size: 40px;
        }
        h4 {
            width: 100%;
            border: 0;
        }
        .header .container {
            padding: 0;
        }
        .header-left {
            width: 50%;
            margin-left: 10px;
            margin-bottom: 20px;
        }
        .toggle {
            display: inline-block;
            width: 10%;
            font-size: 24px;
            float: right;
            /*             color: #fff;*/
            margin: 8px auto;
            text-align: center;
        }
        /*
        span {
            width: 100%;
            text-align: center;
            display: inline-block;
            margin-right: 4px;
        }
*/
        .header-right {
            float: none;
            width: 100%;

        }
        #myDIV {
            display: none;
            transition: background-color 200ms ease, opacity 400ms ease, visibility 400ms ease, z-index 400ms ease;
            width: 100%;
        }
        .header-right .menu {
            float: none;
            z-index: 2;

        }
        .header-right .menu ul {
            width: 100%;

        }
        .header-right .menu li {
            width: 100%;
            text-align: center;
            margin: 0;
            padding: 15px 0px;
        }
        .left {
            width: 100%;
            float: none;
            text-align: center;
        }
        .right {
            width: 100%;
            float: none;
            margin: 0 auto;
            margin-top: 20px;
        }
        .circle {
            margin: 0 auto;
            width: 48%;
        }
        .circle-2,
        .circle-4 {
            margin-left: 2%;
        }
        .circle-1,
        .circle-2 {
            margin-bottom: 40px;
        }
        .service-content {
            padding: 24px;
            border: 1px solid #515769;
            border-radius: 50%;
        }
        .experience .right{
            border:0;
            padding: 0;
        }
        .suit-circle{
            display: none;
        }