
    @media (max-width: 1169px) {
.container {
	width: auto;
	padding: 0 10px;
}
    @media (min-width:360px) and (max-width:767px) {
        html{
            padding: 0;
            margin:0;
        }
        .header-right{
/*            float: none;*/
            display: inline-block;
        }
        .ti-menu-alt {
            display: block;
        }
    
        .menu ul {
            display: none;
            width: 100%;
            position: absolute;
            top: 70px;
            right: 0;
            text-align: center;
        }

        .menu ul li a {
            padding: 5px 0;
            color: #3eb7ee;
        }
        .menu ul li::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background: #eea944;
            display: none;
            margin: 0 auto;
        }

        .menu ul li {
            width: 100%;
            margin: 0;
            float: none;
            background: #8162b0;
        }

        .header-right:hover ul {
            display: block;
        }




        .about-left,
        .about-right {
            float: none;
            width: 100%;
        }
        .about-right-content p {
            width: 80%;
            font-size: 12px;
            margin-bottom: 30px;
        }
        .about-right-content {
            padding: 30px;
        }
        .about-right-content a {
            padding: 10px 15px;
            font-size: 8px;
        }
        .services {
            padding: 30px;
        }
        h1 {
            font-size: 18px;
        }
        h2 {
            font-size: 14px;
        }
        p {
            font-size: 12px;
        }

        .sbox2,
        .sbox3 {
            margin-left: 0;
        }
        .sbox {
            display: block;
            margin: 0 auto;
            width: 100%;
            margin-bottom: 50px;
            text-align: center;
        }
        .sbox p {
            font-size: 12px;
            display: block;
            width: 90%;
            margin: 0 auto;
        }
        .fun-left,
        .fun-right {
            width: 100%;
            padding: 0;
        }
        .fun-right {
            padding: 0px 30px;
            margin-top: 30px;
        }
        .fun-right p {
            font-size: 12px;
        }
        .fun-right h1 {
            padding-bottom: 20px;
        }
        .fun-left-box h3 {
            font: 600 30px/40px roboto slab;
        }
        .client {
            padding: 30px;
        }
        .client-box {
            width: 100%;
            float: none;
            margin: 0;
        }
        .client-1 {
            margin-bottom: 30px;
        }
        .g-image {
            width: 100%;
        }
        .footer {
            padding: 0 30px;
        }
        .footer-logo {
            box-sizing: border-box;
        }
        .footer-navigation,
        .footer-blogpost {
            width: 40%;
        }
        .footer-newsletter {
            width: 100%;
            padding: 10px;
        }
        .newsletter-input {
            width: 100%;
        }
        .newsletter-input input {
            font: normal 16px/16px roboto slab;
        }
        .newsletter-input button {
            font: normal 16px/16px roboto slab;
        }
        .footer-social p {
            font: 200 12px/12px roboto slab;
        }
    }

}