body{
    margin: 0 0;
    padding: 0 0;
}
.wrapper{
    margin: 0 auto;
    width: 1500px;
    height: 600px;
    font-family: sans-serif;
}

h1{
    text-align: center;
    font-size: 40px;
    color: darkblue;
}
h2{
    text-align: center;
    text-decoration: underline;
}
.section{
    margin: 0 auto;
    width:1400px;
    height: 250px;
    margin-left: 60px;
}
.section1{
    border: 0.5px solid black;
    box-shadow:10px -10px 1px #aaa;
    display: inline-block;
    padding: 10px;
    float: left;
    height: 190px;
    width:200px;
}
.section1:hover{
    box-shadow:0 0 30px #aaa;
    transform: scale(1.1);
    border: 0;
}
.subsection{
    border: 0.5px solid black;
    box-shadow:10px -10px 1px #aaa;
    display: inline-block;
    padding: 10px;
    position: absolute;
    top: 480px;
    left: 320px;
}
.subsection:hover{
    box-shadow:0 0 30px #aaa;
    transform: scale(1.1);
    border: 0;
}
.arrow{
    font-size: 40px;
    display: inline-block;
    float: left;
    margin:90px 10px 0 10px; 
}

.down{
    font-size: 40px;
    margin-left:450px;
}
