@import url('https://fonts.googleapis.com/css?family=Poppins');
/*
=================================================================
-----------------------RESET---------------------------
=================================================================
*/
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video,div{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
=================================================================
-----------------------COMMON STYLE---------------------------
=================================================================
*/

.wrapper {
    width: 100%;
    height: auto;
}

.clear {
    clear: both;
}

.container{
    width: 1170px;
    height: auto;
    margin: 0 auto;
/*    background: red*/
    
}
a{
    text-decoration: none;
    color: #000;
}
h1{
    text-transform: capitalize;
    font-size: 34px;
}
h2{
    font-size: 22px;
}

button{
    padding: 15px;
    border: 2px solid #F5A623;
    background: transparent;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 25px;
    cursor: pointer;
    font-family: 'poppins';

}
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #F5A623;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
/*----------------FONT CALLING--------------------*/

@font-face {
  font-family: 'lync';
  src: url('RobotoSlab-Regular.eot');
  src: url('RobotoSlab-Regular.woff2') format('woff2'),
       url('RobotoSlab-Regular.woff') format('woff'),
       url('poppins-Regular.ttf') format('truetype'),
       url('RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg'),
       url('RobotoSlab-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


body{
    font-family: 'poppins';
}

.header{
    padding: 25px 0;
    background-color: #fff;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 1px 50px rgba(0,0,0,0.2), 0 -1px 2px rgba(0,0,0,0.12);
}

.header-left{
    float: left;
    width:30%;
}
.header-right{
    float: right;   
     width:40%;
}

span{
    font-size: 8px;
    display: block;
    position: absolute;
    top: 8px;
    right: 0;
}
.header .menu{
    float: right;
}
.header-right .menu li{
    float: left;
    margin: 14px 20px;
}
.header-right .menu li a{
    text-transform: uppercase;
    color: #2275D7;
    font: normal 16px/34px poppins;
}
.menu li:last-child a {
    padding: 15px;
    border: 2px solid #F5A623;
}
.menu li:last-child a:hover{
    background-color: #F5A623;
    color: #fff;
    transition: all .2s linear;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.25);
    transition: all .2s linear
}
.toggle{
    width: 30%;
    float: left;
    text-align: right;
    line-height: 50px;
    color: #2275D7;
    display: none;
    position: relative;
    cursor: pointer;
    margin-top: 4px;
}
.bar1, .bar2, .bar3 {
    width: 28px;
    height: 4px;
    background-color: #2275D7;
    margin: 4px 0;
    transition: 0.4s;
    position: relative;
}

.change .bar1 {
    -webkit-transform: rotate(-30deg) translate(-12px, 12px);
    transform: rotate(-45deg) translate(-6px, 4px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(30deg) translate(-12px, -12px);
    transform: rotate(45deg) translate(-7px, -6px);
}

/*BANNER SECTION*/

.banner{
    background: url(images/banner.jpg) no-repeat 0 0;
    background-size: cover;
    width: 100%;
}
.banner-content{
    padding: 150px 0px;
}
h6{
    font-size: 80px;
    text-transform: capitalize;
}

.button-primary:hover{
    background-color: #F5A623;
    color: #fff;
    transition: all .2s linear;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.25);
}
/*FEATURE SECTION*/
.key-features{
    padding: 55px 0px;
}
.feature-left{
    float: left;
    width: 50%;
}
.feature-right{
    float: right;
    width: 50%;
}

.heading-line{
    width: 30px;
    border-bottom: 2px solid #F5A623;
    margin: 20px 0px;
}
.feature-list-left li{
    background: url(images/key-feature-list-icon.png) no-repeat 0 0;
    padding-left:30px;
    margin-bottom: 20px;
    font-weight: 300;
}
.feature-list-right li{
     background: url(images/check-mark.png) no-repeat 0 0;
    font:normal 20px/40px poppins;
    margin: 35px 0;
    padding-left: 55px;
}
.bdr{
    border-bottom: 1px solid #ECEEEF;
}
.feature-list-right li:first-child{
    margin-top: 20px;
}
.feature-list-right li:last-child{
    margin-bottom: 0;
}
/*COURSE-curriculum SECTION*/
.course-curriculum{
    padding: 30px 0px;
}
.course-heading{
    text-align: center;
    margin-bottom: 30px;
}
.course-heading .heading-line{
    margin:20px auto;
}
.course-list{
    width: 100%;
    display: block;
}
.num{
/*    margin-right: 15px;*/
    font-size: 38px;
    line-height: 40px;
    width: 20%;
    float: left;
    text-align: center;
}
.course-list>div{
/*    width: 50%;*/
    float: left;
    cursor: pointer;
    box-sizing: border-box;
    line-height: 40px;
    border: 1px solid #ECEEEF;
    
    display: block;
}
#panel_1,#panel_2,#panel_3,#panel_4,#panel_5,#panel_6,#panel_7,#panel_8{
display: none;
}
.course-list p{
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid #ECEEEF; 
    margin-top: 20px;
}
.row_1{
    display: block;
    width: 100%;
}
.course-one{
    width: 49.90%;
    float: left;
    padding: 20px 0px;
    border-right: 1px solid #ECEEEF;
}
.course-two{
    width: 50%;
    float: right;
    padding: 20px 0px;
}
.course-list div h2{
    font-size: 16px;
    width:80%;
    display: inline;
}
.ti-plus{
    width: 10%;
    float: right;
    font-size: 28px;
    line-height: 40px;
    margin-top: 8px;
    text-align: center
}
.course-list li p{
    font-size: 14px;
    width: 60%;
    margin: 0 auto;
}
.ti-file{
    color: #F5A623;
    margin-right: 20px;
}
.course-list .panel{
    display: block;
}
/*COPY SECTION*/
.copy-course-curriculum{
    background: url(images/copy.jpg) no-repeat 0 50%;
    background-size: cover;
    text-align: center;
}
.copy-content{
    padding: 60px 0px;
}
.copy-content h1{
    text-transform: none;
}
.button-secondary{
    margin-top: 40px;
    background: #D0021B;
    color: #fff;
    border: none;
}
.button-secondary:hover{
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.25);
    transition: all .2s linear;
}
/*PLANS SECTION*/
.plans{
    padding: 60px 0px;
    text-align: center;
}
.plans h1{
    margin-bottom: 50px;
}
.plan-main-box{
    width: 70%;
    margin: 30px auto;
}
.plan-box{
    width: 48%;
    float: left;
/*    background: red;*/
    box-sizing: border-box;
    padding: 35px;
   box-shadow: 0 10px 8px rgba(0,0,0,0.2), 0 -1px 2px rgba(0,0,0,0.12);
}
.box2{
    margin-left: 4%;
}
h3{
    font-size: 22px;
    line-height: 80px;
    font-weight: 700;
    text-transform: capitalize;
}
.plan-box p{
    font-size: 16px;
    line-height: 30px;
}
.plan-main-box .hvr-underline-from-center:before{
    top: 0;
}
/*--------------------KNOW_MORE_SECTION----------------*/
.know-more {
    background: url(images/Grey_Banner_7.png) no-repeat 0 50%;
    background-size: cover;
    text-align: center;
}

.know-more-content {
    padding: 50px 0px;
}

.mask {
    background: linear-gradient(rgba(74, 144, 226, 0.3), rgba(74, 144, 226, 0.3));
    width: 100%;
}
/*--------------------FAQ_SECTION----------------*/
.faq{
    padding: 60px 0;
}
.faq-content {
    width: 50%;
    margin: 0 auto;
}
.faq-content h1{
    margin-bottom:80px;
}
.faq-content li{
     background: url(images/arrow-point-to-right.png) no-repeat 0 0;
    font-size: 16px;
    font-weight: 600;
    margin: 40px 0;
    padding-left: 25px;
    cursor: pointer;
}

.panel {
    display: none;
    background-color: white;
    overflow: hidden;
}
/*
.faq-content p{
    display: none;
}
*/
/*--------------------QUESTION_SECTION----------------*/
.question-content{
    padding-bottom: 40px;
}
.question-main-box{
    border: 1px solid #ECEEEF;
    margin: 30px 0px;
}
.question-box{
    width: 33.33%;
    float: left;
    text-align: center;
    padding: 30px 40px;
    box-sizing: border-box;
    border-right: 1px solid #ECEEEF;
}
.qbox3{
    border-right: none;
}
.question-box h2{
    line-height: 90px;
    font-weight: 700;
}
/*--------------------FOOTER_SECTION----------------*/
.footer{
    background: #696969;
    padding: 20px 0px;
}

.footer-menu li{
    float: left;
    margin-right: 30px;
    margin-top: 20px;
}
.footer-menu li a{
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
}
.footer-bdr{
    border-bottom: 1px solid #5e5e5e;
    margin: 25px 0px;
}
.footer p{
    color: #b6b6b6;
    font-size: 14px;
}