 @media (max-width: 1169px) {
     .container {
         width: auto;
         padding: 0 10px;
     }
     @media (min-width:768px) and (max-width:1024px) {
         
        .header-left{
             width: 30%;
         }
         .header-right{
             width: 70%;
         }
         button{
             width: 50%;
         }
         .button-primary{
             margin-top: 50px;
         }
         .banner-content{
             padding: 70px 0px;
             box-sizing: border-box;
         }
         .feature-list-right li{
             font:normal 18px/40px poppins;
         }
         .course-list li h2{
             font-size: 16px;
             width:60%;
             display: inline-block;
         }
         .course-list li{
             width:100%;
         }
         .course-list li h2{
             font-size: 16px;
             width:60%;
             display: inline-block;
         }
         .course-one,.course-two{
             width: 100%;
             float: none;
         }
         .course-one{
             border-bottom: 1px solid #ECEEEF;
         }
         .course-list p{
             border-top:none; 
         }
        
         .plan-main-box{
             width: 95%;
         }
         .plan-box{
             box-sizing: border-box;
             padding: 15px;
         }
         .faq-content{
             width: 80%;
         }
         .question-box h2{
             font-size: 16px;
             font-weight: 700;
         }
     }
     @media (min-width:320px) and (max-width:767px) {
         html {
             padding: 0;
             margin: 0;
         }
         h1{
             font-size: 24px;
         }
         h2{
             font-size: 18px;
         }
         h6{
             font-size: 40px;
         }
         .header-left{
             width: 50%;
         }
         .toggle{
             display: block;
             width: 50%;
             font-size: 24px;
         }
         .header-right .menu{
             display: none;
         }
         button{
             width: 80%;
         }
         .banner-content{
             padding: 80px 0px;
             box-sizing: border-box;
         }
         .button-primary{
             width: 100%;
             margin-top: 50px;
         }
         .banner{
             background-position: 50% 0%;
         }
         .feature-left,.feature-right{
             width: 100%;
         }
         .feature-right{
             margin-top: 30px;
         }
         .course-list li{
             width:100%;
         }
         .course-list li h2{
             font-size: 16px;
             width:60%;
             display: inline-block;
         }
         .course-one,.course-two{
             width: 100%;
             float: none;
         }
         .course-one{
             border-bottom: 1px solid #ECEEEF;
         }
         .course-list p{
             border-top:none; 
         }
         .copy-course-curriculum{
             width:100%;
             background-position:40% 0%;
             background-size: cover;
         }
         .plan-main-box,.plan-box{
             width: 100%;
         }
         .box2{
             margin:0;
             margin-top: 30px;
         }
         .faq-content{
             width: 100%;
         }
         .question-box{
             width: 100%;
             border-bottom: 1px solid #ECEEEF;
             border-right: 0;
         }
         .footer-menu{
             width: 86%;
             margin: 0 auto; 
         }
         .footer p{
             width:86%;
             font-size: 11px;
             margin: 0 auto; 
         }
/*        
         .footer-menu li{
             width: 25%;
             margin-right: 0;
             text-align: center;
         }
*/
         .footer-menu li:last-child{
             margin-right:0px;
         }